{
    "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-typescript"],
    "env": {
        "production": {
            "plugins": [
                ["@babel/plugin-proposal-class-properties"],
                ["import", { "libraryName": "antd", "libraryDirectory": "lib", "style": "css" }],
                [
                    "@emotion/babel-preset-css-prop",
                    {
                        "autoLabel": "dev-only",
                        "labelFormat": "[local]"
                    }
                ]
            ]
        },
        "development": {
            "plugins": [
                ["@babel/plugin-proposal-class-properties"],
                ["import", { "libraryName": "antd", "libraryDirectory": "lib", "style": "css" }],
                ["@emotion/babel-preset-css-prop", { "runtime": "automatic" }]
            ]
        }
    }
}
