node_modules
reports
.nyc_output
src
webpack-config
.babelrc
.editorconfig
.esformatter
.eslintignore
.eslintrc
.gitattributes
.gitignore
.jsdom-setup.js
helper.js
mocha.config.json
postcss.config.js
sonar-project.properties
global.config.js
*.txt
wdio.conf.js
*debug
