{
  "extends": "stylelint-config-standard",
  "rules": {
    "rule-empty-line-before": "always",
    "indentation": 4,
    "selector-pseudo-class-no-unknown": [true, {
      "ignorePseudoClasses": ["global"]
    }]
  }
}
