.logo {
    height: 120px;
    width: 150px;
    margin-top: -15px;
}

.menu {
    line-height: 109px;
}

.borderBottom {
    border-bottom: 1px solid #e8e8e8;
    height: 111px;
    z-index: -99999px;
}
