.pointer {
    width: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 999;
}

.luckDraw {
    width: 275px;
    height: 275px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.wheel {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
}
