.submitButton {
    width: 100%;
}
.forgotPassword {
    float: right;
    line-height: 2.5;
}
.formWrap {
    padding: 10px;
}
.image {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
